.header-nav__item {
    border: rgb(186, 168, 153) 1px solid;
    background-color: rgb(235, 220, 209);
    padding: 0px 10px;
}

.header-nav__link--login {
    color: rgb(58, 0, 0);
}
.admin__index{
    border-top: rgb(186, 168, 153) 1px solid;
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.admin-index__title {
    color: rgb(104, 68, 39);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    font-family: Georgia;
}
.search-form{
    width: 70%;
    display: inline-block;
    margin-left: 120px;
}
.search-form__item{
    display:inline-block;
    width: 90%;
}
.search-form__item--input{
    background-color: rgb(241, 241, 241);
    height: 40px;
    width:40%;
    padding-left: 10px;
}
.search-form__button{
    display: inline-block;
}

.reset-form{
    display: inline-block;
    width: 8%;
    margin-left: 10px;
}
.search-form__item--gender-select{
    background-color: rgb(241, 241, 241);
    height: 40px;
    width: 10%;
    padding-left: 10px;
    margin-left: 10px;
}
.search-form__item--category-select{
    background-color: rgb(241, 241, 241);
    height: 40px;
    width: 20%;
    padding-left: 10px;
    margin-left: 10px;
}
.search-form__item--date-select{
    background-color: rgb(241, 241, 241);
    height: 40px;
    width: 20%;
    padding-left: 10px;
    margin-left: 10px;
}
.search-form__button--submit{
    width: 200%;
    height: 40px;
    background-color: rgb(58, 0, 0);
    color: white;
}
.reset-form__button--submit{
    height: 40px;
    background-color: rgb(186, 168, 153);
}
.admin-index__table{
    width:100%;

}
.admin-index__pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 100px;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
    border:rgb(186, 168, 153) 1px solid
}
.admin-table__inner{
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    margin: auto;
    width:80%;
    border:rgb(186, 168, 153) 1px solid;
}
.admin-table__row:hover{
    border: rgb(186, 168, 153) 1px solid;
    background-color:rgb(228, 206, 188) ;
}
.admin-table__header{
    height: 40px;
    background-color: rgb(58, 0, 0);
    color: white;
}
.admin-table__item{
    padding-left: 40px;
    border-top: rgb(186, 168, 153) 1px solid;
}