.header-nav__item {
    border: rgb(186, 168, 153) 1px solid;
    background-color: rgb(235, 220, 209);
    padding: 0px 10px;
    margin-top: 10px;
}

.header-nav__link--login {
    color: rgb(58, 0, 0);
}

.login__content {
    border-top: rgb(186, 168, 153) 1px solid;
    background-color: rgb(241, 236, 230);
    height: 700px;
}

.login-form__title {
    padding: 50px;
    color: rgb(104, 68, 39);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    font-family: Georgia;
}

.login-form {
    width: 70%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border: rgb(235, 220, 209) 1px solid;
}

.login-form__group {
    padding: 20px 60px;
}

.login-form__label--item {
    color: rgb(104, 68, 39);
    font-size: 16px;
}

.login-form__input-email,
.login-form__input-password {
    background-color: rgb(245, 237, 231);
    width: 100%;
    height: 40px;
    padding: 20px;
}

.login-form__button {
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;

}

.login-form__button--submit {
    background-color: rgb(104, 68, 39);
    color: white;
    width: 20%;
}