
.header-nav__item{
    border: rgb(186, 168, 153) 1px solid;
    background-color: rgb(235, 220, 209);
    padding:0px 10px;
}
.header-nav__link--login{
    color:rgb(58, 0, 0);
}
.register__content {
    border-top: rgb(186, 168, 153) 1px solid;
    background-color: rgb(241,236,230);
    height: 700px;
}
.register-form__title{
    padding:50px;
    color: rgb(104, 68, 39);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    font-family: Georgia;
}
.register-form{
    width:70%;
    background-color: white;
    margin:20px auto;
    padding:20px;
    border:rgb(235, 220, 209) 1px solid;
}
.register-form__group{
    padding:20px 60px;
}
.register-form__label--item{
    color: rgb(104, 68, 39);
    font-size: 16px;
}
.register-form__input-name,
.register-form__input-email,
.register-form__input-password{
    background-color: rgb(245, 237, 231);
    width:100%;
    height:40px;
    padding:20px;
}
.register-form__button{
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;

}
.register-form__button--submit{
    background-color: rgb(104, 68, 39);
    color: white;
    width: 20%;
}